<div id="tooltip">Copied to clipboard!</div>
<div class="upload_container">
	<div class="upload_dnd" id="upload-drop-area">
		<form>
			<p>Drop file to upload</p>
			<input type="file" id="fileUploadEl" multiple accept="*/*" onchange="handleFiles(this.files)"/>
			<label class="button" for="fileUploadEl">Select some file</label>
		</form>
	</div>
	<div class="clear_container">
		<button onclick="confirmClear()">Clear list</button>
	</div>
	<div class="clear-fix"></div>
	<div class="msg">
		Get list via cmd: curl http://localhost:<%-Config.httpPort%>/list or single record curl http://localhost:<%-Config.httpPort%>/list/1
	</div>
</div>
<div class="list" id="list"></div>
